
<a class="item">
  <%= link_to 'Home', home_path, class: "item" %>
  <%= link_to 'Chatroom', root_path, class: "item" %>
  <%= link_to 'Active Users', users_path, class: "item" %>
  <div class="left menu">
    <div class="ui dropdown item">
      Account <i class="ui simple dropdown icon"></i>
      <div class="menu">
        <%= link_to 'Sub menu 1', "#", class: "item" %>
        <%= link_to 'Sub menu 2', "#", class: "item" %>
      </div>
    </div>
</div>
</a>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Log in", login_path, class: "item" %>
      <% end %>
    </div>
  </div>
</div>
<% if !logged_in? %>
  <div class="item">
    <%= link_to "Sign-up", signup_path, class: "ui primary button" %>
  </div>
<% end %>
</div>